body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container {
    display: grid;
    gap: 40px;
    grid-template-columns: 2fr 1fr 2fr;
 /* code here */
}

.item {
    padding: 10px;
    background: #2727d6;
    color: #fff;
    font-size: 30px;
    padding: 50px;
    text-align: center;
}
.item:hover{
    font-size: 50px;
    background-color: rgb(237, 137, 7);
}