body{
    margin: 0;
    display: flex;
    flex-direction: column;
}
.menu{
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    font-size: 19px;
}
.header{
    display: flex;
    padding: 10px;
    font-size: 19px;
    justify-content: space-between;
    gap: 10px;
}
.header-left{
    flex: 1;
    
}
.header-center{
    display: flex;
    flex: 2;
    height: 470px;
    flex-direction: column;
    gap: 10px;
}
.hot{
    background: rgb(218, 148, 148);
    flex: 1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 9px solid purple;
}
.content{
    background: rgb(102, 255, 120);
    flex: 2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 7px solid rgb(79, 115, 233);
}
.header-right{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;

}
.cold{
    
    flex: 1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.helloworld{
    background-color: orangered;
    flex: 2;
    width: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


