$radiusValue:10px;
$gapValue:20px;
$main-color: purple;
$sub-color1: teal;
$sub-color2: black;
$sub-color3:orange;
$sub-color4:gray;
$sub-color5:white;
$sub-color6: rgba(50,50,50,0.468);
$hober-color: darkorange;

