body{
    background-color: rgb(255, 255, 255);
}
table{
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
}
th{
    border: 2px solid gray;
    text-align: center;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #5af612;
}
header{
    
}