<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>amzing</title>
    <link rel="stylesheet" href="link.css">
</head>
<body>
    <div class="header-img">
        <div class="cover">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Food</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Content</a></li>
            </ul>
            <div class="box">
                <h3>Welcome to Restaurant</h3>
                <button>Get start now</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="serve">
            <h3>Our services</h3>
        </div>
        <div class="services-1">
            <button>Get Service</button>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, voluptate.</p>
        </div>
        <div class="services-2">
            <button>Get Service</button>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, voluptate.</p>
        </div>
        <div class="services-3">
            <button>Get Service</button>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, voluptate.</p>
        </div>
        <div class="services-4">
            <button>Get Service</button>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, voluptate.</p>
        </div>
    </div>
</body>
</html>