@import "./group-mixin";
@import "./group-verible";
#Aerobic{
    margin-top: 90px;
}
.box-Aerobic{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 11%;
    margin-right: 11%;
}
.box-Aerobic{
     img{
        width: 31%;
        border-radius: 10px;
     }
}