@import "./group-mixin";
@import "./group-verible";

#Contact-Us{
    margin-top: 90px;
    background-position:  0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    margin-top: 90px;
    background-image: url(../../img/IMG.jpg) ;
}
.info{
    margin-top: 250px;
}
form,.more-contact{
    background:$gray;
    padding: 10px;
    width: 59%;
}
form{
    @include coloum;
    margin-left: 20%;
    gap: 10px;
    margin-top: 30px;
    border-radius: 10px 10px 0 0;
    margin-top: 7%;
}
input{
    padding: 15px;
    width: 96%;
    border-radius: 3px;
    border: none;
    font-size: 18px;
}
form {
    button{
    width: 30%;
    padding:10px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    }
}
.more-contact{
    margin-left: 20%;
    @include centered;
    font-size: 15px;
    gap: 5px;
    padding-top: 30px;
    border-radius: 0 0 10px 10px;
}
.phone-con,.address-con,.email-con{
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 100px;
    gap: 5px;
    text-align: center;
    background: $gray;
    border-radius: 10px;
    padding-top: 10px;
    color: $black;
}
.phone-con:hover{
    background: $orange;
    border: 1px solid $white;
    border-bottom: 3px solid $orange;
    border-top: 3px solid $orange;
    border-radius: 10px;
    
}
.address-con:hover{
    border: 1px solid $white;
    background: rgb(246, 244, 241);
    border-bottom: 3px solid $orange;
    border-top: 3px solid $orange;
    border-radius: 10px;

}
.email-con:hover{
    background: $white;
    border: 1px solid $white;
    border-bottom: 3px solid $orange;
    border-top: 3px solid $orange;
    border-radius: 10px;
}
