body{
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    background-color: white;
    margin-top: 10px;
    padding: 10px;
}
div h1{
    font-weight: 300;
    color: teal;
}
