@import "group-minus";
@import "variarble";

footer{
    height: 15vh;
    background: $maincolor;
    border-top: 2px solid $teal-color;
}

footer>div {
    @include text-center;
    flex-direction: column;
}

footer> div a{
    text-decoration: none;
    color: teal;
}